body{
    background-image: url();
}

.about h1{
    margin: 2vh;
    font-size: 3em;
    font-family:'Times New Roman', Times, serif;
}
.about{
    border: 2px solid red;
    margin: 2vh;
    height: 80vh;
    
    
}